{% extends 'acctbase.html' %} 

{% block subheader %}
<style>
  /* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */
  
  #search_button {
      font-size: 16px;
      font-weight: bold;
      background-color: #25478B;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 3%;
      margin: 0 40px;
      border: none;
      width: 20%;
  }
</style>
{% endblock %} 

{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %}All Stock in Marketplace{% endblock %}</h1></div>
<div class="bottom_link" style="margin: -20px 43% 20px">
<a href="{{ url_for('admin.total_SR') }}">Total Sharpe Ratio</a>
</div>



<form method="post">
{% if transactions == None %}
<p>--------No Transaction Yet-------</p>
{% else %}
<div class="table_container">
  <table>
    <thead>
      <tr>
        <th>Stock Ticker</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for stock in stocks %}
      <tr>
        <td>{{stock['stock_ticker']}}</td>
        <td>{{stock['total']}}</td>    
      </tr>
      {% if not loop.last %}
      {% endif %} {% endfor %}

    </tbody>
  </table>
</div>
{% endif %}
</form>

{% endblock %}

