{% extends 'acctbase.html' %} 

{% block subheader %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #selected-link {
            color: #ffffff;
            background-color: #25478B;
            border: 0;
            border-radius: 2px;
            font-family: Candara, Arial, Helvetica, sans-serif;
            font-size: 1em;
            padding: 10px;
            margin: 0 10px;
        }
        .subplot {
          display: inline-block;
          text-align: center;
        }

        #plot_container {
          height: auto;
          overflow: hidden;
        }
    </style>
{% endblock %}

{% block subcontent %}

<div class="subcontent_title"><h1>{% block title %}Total Risk Return {% endblock %}</h1></div>

<script>
  function plot() {
    var info = JSON.parse('{{info | tojson | safe}}');
    console.log(info);
    var data1 = 
      {
        type: "scatter",
        mode: 'markers',
        x: info["x"],
        y: info["y"],
        name: "Efficient Frontier",
        marker: { size: 5 } 
        
      }

    var data2 = 
      {
        type: "scatter",
        mode: 'markers',
        x: [info["opt_x"]],
        y: [info["opt_y"]],
        name: "Optimal Point",
        marker: { 
          size: 15,
          symbol: "star",
          color: "red"
        }
              
      }
    
    data = [data1, data2]

    Plotly.newPlot("myDiv", data, {
      title: "efficient frontier",
      xaxis: {
        title: "Annualized Portfolio Standard Deviation"
      },
      yaxis: {
        title: "Annualized Portfolio Return"
      }
    });
  }

  window.onload = function () {
    plot();
  };
</script>
<div id="myDiv" style="margin-top: 30px;"></div>
<!-- <button onclick="plot()">Plot Data</button> -->

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- <link
  data-require="bootstrap@5.2.3"
  data-semver="5.2.3"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
/> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="https://github.com/makeusabrew/bootbox/releases/download/v6.0.0/bootbox.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>
{% endblock %}