{% extends 'acctbase.html' %}

{% block subheader %}
<h1>{% block title %}Total Sharpe Ratio{% endblock %}</h1>
{% endblock %} 
{% block subcontent %}
<p>Total Sharpe Ratio :  {{ '{:.3f}'.format(sharpe_ratio) }}</p>
<div class="bottom_link">
    <a href="{{ url_for('admin.all_stock') }}"> Back to All Stock </a>
</div>

{% endblock %}