<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
  #home_link {
    text-decoration: underline;
  }

  #home_link:hover {
    color: #25478B;
}
</style>
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-message">
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

</body>
</html>




<!-- <script>
  window.onload = function() {
    refreshContent();
  };

  function refreshContent() {
    var contentDiv = document.getElementById("flash-message");
    contentDiv.innerHTML = "This is the refreshed content.";
  }
</script> -->

<!-- <script>
  function showError() {
    var errorMessage = document.getElementById("error-message");
    errorMessage.textContent = "An error occurred. Please try again later.";
    errorMessage.style.display = "block";
    setTimeout(function() {
      errorMessage.style.display = "none";
    }, 3000);
  }
</script> -->




<!-- 
{% extends 'base.html' %} 
{% block header %}
{% block subheader %}

{% endblock %} -->
<!-- <div class="error_message">
  <h2>Opps, something goes run...</h2>

  <a href="{{ url_for('home.homepage') }}" id="home_link">Return to Homepage</a>
</div> -->






<!-- <script>
  function showError() {
    alert("An error has occurred. Please try again.");
    setTimeout(function() {
      document.querySelector('.alert').style.display = 'none';
    }, 3000);
  }
</script>

<button onclick="showError()">Show Error</button>

<div class="alert" style="display: none;">
  An error has occurred. Please try again.
</div> -->


<!-- <!DOCTYPE html>
<html>
<head>
  <title>Form Example</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>{{ error_message }}</p>
        </div>
      </div>
    </div>
  </div>

  <form action="/submit-form" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
    <button type="submit">Submit</button>
  </form>

  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        {% if category == "error" %}
          <script>
            $(document).ready(function() {
              $('#errorModal').modal('show');
            });
          </script>
          {% set error_message = message %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https:// -->

