{% extends 'stockbase.html' %} 

{% block subheader %}
<style>
  #home_link {
    text-decoration: underline;
  }

  #home_link:hover {
    color: #25478B;
}
</style>
{% endblock %} 

{% block subcontent %}
<div class="error_message">
  <h2>Opps, something goes run...</h2>
</div>
<form method="post">

  <div class="error_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message">
          {% for message in messages %}
            <p id="error_message">{{ message }}</p>
          {% endfor %}
        </div>
  
      {% endif %}
    {% endwith %}
  </div>
</form>
<div class="bottom_link">
  <a href="{{ url_for('stock.search', id=g.user['id']) }}">Start Trading</a>
  <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}">Return to my page</a>
</div>


{% endblock %} 

