
{% extends 'acctbase.html' %}

{% block subheader %}
<style type="text/css" media="screen">
  form article label {
    display: block;
    margin: 5px;
  }

  form .submit {
    margin: 15px 0;
  }
</style>
{% endblock %}

{% block subcontent %}
<h1>{% block title %} Email sent! {% endblock %}</h1>

<div class="bottom_link">
  <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}">Return to my page</a>
</div>

{% endblock %}