{% extends 'base.html' %} 
{% block header %}
{% block subheader %}{% endblock %}
<style>
	.content > header {
		margin-left: 256px;
	}
	
	/* body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
	} */
	
	/* #content {
		margin-left: 200px;
		padding: 20px;
	} */
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_sidebar.css') }}">
{% endblock %} 

{% block content %}
	{% if g.user %}
	<div class="sidebar">
		<div class="logo_details">
		  <div class="logo_name">ACCOUNT</div>
		  <i class="bx bx-menu" id="btn"><img src="/static/iconsvg/menu-burger.svg" alt="Menu" id="menu_icon"></i>
		</div>
		<ul class="nav-list">
		  {% if g.user['usertype'] == 'M' %}
		  <li>
			<a href="{{ url_for('admin.all_stock') }}">
				<i class="fi fi fi-rr-box-dollar" id="btn"><img src="/static/iconsvg/box-dollar.svg" alt="All Stock" class="sidebar_icon" id="alltrade_icon"></i>
			  	<span class="link_name">All Stock</span>
			</a>
			<span class="tooltip">All Stock</span>
		  </li>
		  <li>
			<a href="{{ url_for('admin.all_transactions') }}">
				<i class="fi fi fi-rr-note" id="btn"><img src="/static/iconsvg/note.svg" alt="All Trans" class="sidebar_icon" id="alltransaction_icon"></i>
			  	
			  <span class="link_name">All Transaction </span>
			</a>
			<span class="tooltip">All Transaction </span>
		  </li>
		  <li>
			<a href="{{ url_for('admin.total_ef') }}">
				<i class="fi fi-br-chart" id="btn"><img src="/static/iconsvg/chart-histogram.svg" alt="Stock Plot" class="sidebar_icon" id="rr_icon"></i>
			  	<span class="link_name">Total Risk Return </span>
			</a>
			<span class="tooltip">Total Risk Return </span>
		  </li>
		  {% else %}
		  <li>
			  <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}">
				<i class="fi fi fi-rr-box-dollar" id="btn"><img src="/static/iconsvg/box-dollar.svg" alt="My Port" class="sidebar_icon" id="trade_icon"></i>
			  	
			  <span class="link_name">My Portfolio</span>
			</a>
			<span class="tooltip">My Portfolio</span>
		  </li>
		  <li>
			<a href="{{ url_for('stock.all_transactions', id=g.user['id']) }}">
				<i class="fi fi fi-rr-note" id="btn"><img src="/static/iconsvg/note.svg" alt="All Trans" class="sidebar_icon" id="transaction_icon"></i>
			  	
			  <span class="link_name">Transaction</span>
			</a>
			<span class="tooltip">Transaction</span>
		  </li>
		  
		  <li>
			<a href="{{ url_for('charge.pay', id=g.user['id']) }}">
				<i class="fi fi fi-rr-credit-card" id="btn"><img src="/static/iconsvg/credit-card.svg" alt="Charge" class="sidebar_icon" id="charge_icon"></i>
			  	
			  <span class="link_name">Charge</span>
			</a>
			<span class="tooltip">Charge</span>
		  </li>
		  {% if g.user['usertype'] == 'U' %}
		  <li>
			<a href="{{ url_for('blog.subscribe', id=g.user['id']) }}">
				<i class="fi fi fi-rr-star" id="btn"><img src="/static/iconsvg/star.svg" alt="Subscription" class="sidebar_icon" id="subscription_icon"></i>
			  	
			  <span class="link_name">Membership</span>
			</a>
			<span class="tooltip">Membership</span>
		  </li>
		  {% endif %}
		  <li>
			<a href="{{ url_for('myacct.update', id=g.user['id']) }}">
				<i class="fi fi fi-rr-settings" id="btn"><img src="/static/iconsvg/settings.svg" alt="info settings" class="sidebar_icon" id="settings_icon"></i>
			  	
			  <span class="link_name">Info Settings</span>
			</a>
			<span class="tooltip">Info Settings</span>
		  </li>
		  <li>
			<a href="{{ url_for('myacct.change_pwd', id=g.user['id']) }}">
				<i class="fi fi fi-rr-lock" id="btn"><img src="/static/iconsvg/lock.svg" alt="change pwd" class="sidebar_icon" id="password_icon"></i>
			  	
			  <span class="link_name">Password</span>
			</a>
			<span class="tooltip">Password</span>
		  </li>
		  
		  {% endif %}
		  

		</ul>
		<script src="{{ url_for('static', filename='js/script_sidebar.js') }}"></script>
	</div>

	<div class="subcontent_container">
		{% block subcontent %}{% endblock %}
	</div>
<!-- 
	{% else %}
	<a href="{{ url_for('auth.login') }}" class="btn btn-navbar">Log in/Sign up</a> -->
	{% endif %}
	
{% endblock %}