<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %} - Bigbucks</title>
  
  <!-- 
      - favicon
  -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.svg') }}" type="image/svg+xml">
  
  <!-- 
      - custom css link
  -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  
  <!-- 
      - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">
  {% block header %}{% endblock %}
</head>

<body>
<header class="header" data-header>
  <div class="container">

  <a href="{{ url_for('home.homepage') }}" class="logo">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" width="32" height="32" alt="Cryptex logo">
      Bigbucks
  </a>

  <nav class="navbar" data-navbar>
      <ul class="navbar-list">

        {% if g.user %}
        <li class="navbar-item"><span class="navbar-link" data-nav-link>Hi, {{ g.user['username'] }}</span></li>
        <li class="navbar-item"><span class="navbar-link" data-nav-link>Status: {{ g.user['usertype'] }}</span></li>
        
        <!-- <li class="navbar-item">
          <a href="{{ url_for('blog.update', id=g.user['id']) }}" class="navbar-link" data-nav-link>Account Setting</a>
        </li> -->

         {% if g.user['usertype'] == 'M' %}
        <li class="navbar-item">
          <a href="{{ url_for('admin.all_stock') }}" class="navbar-link" data-nav-link>All Stock</a>
        </li>
        <li class="navbar-item">
          <a href="{{ url_for('admin.all_transactions') }}" class="navbar-link" data-nav-link>All Transactions</a>
        </li>
        <li class="navbar-item">
          <a href="{{ url_for('admin.total_ef') }}" class="navbar-link" data-nav-link>Total Risk-Return</a>
        </li>
        
        {% else %}
        <li class="navbar-item">
          <a href="{{ url_for('stock.search', id=g.user['id']) }}" class="navbar-link" data-nav-link>Stock</a>
        </li>
        {% endif %}
        
        {% if g.user['usertype'] == 'U' %}
        <li class="navbar-item">
          <a href="{{ url_for('blog.subscribe', id=g.user['id']) }}" class="navbar-link" data-nav-link>Membership</a>
        </li>
        {% endif %} 

        <li class="navbar-item">
          <a href="{{ url_for('auth.logout') }}" class="navbar-link" data-nav-link>Log Out</a>
        </li>
        {% else %}
        <li class="navbar-item"><a href="{{ url_for('auth.register') }}" class="navbar-link" data-nav-link>Register</a></li>
        <li class="navbar-item"><a href="{{ url_for('auth.adminregister') }}" class="navbar-link" data-nav-link>Admin Register</a></li>
        <li class="navbar-item">
          <a href="{{ url_for('auth.login') }}" class="navbar-link" data-nav-link>Log In</a>
        
        </li>
        {% endif %}
      </ul>
  </nav>

  <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
      <span class="line line-1"></span>
      <span class="line line-2"></span>
      <span class="line line-3"></span>
  </button>
  {% if g.user %}
    {% if g.user['usertype'] == 'M' %}
    <a href="{{ url_for('admin.all_stock') }}" class="btn btn-navbar">Manage Account</a>
    {% else %}
    <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}" class="btn btn-navbar">My Account</a>
    {% endif %}
  {% else %}
  <a href="{{ url_for('auth.login') }}" class="btn btn-navbar">Log in/Sign up</a>
  {% endif %}
  </div>
  <!-- 
    - custom js link
  -->
  <script src=" {{ url_for('static', filename='js/script.js') }}" defer></script>
</header>


<section class="content">

  {% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
  {% endfor %} 
  {% block content %}{% endblock %}
</section>

{% block js %}{% endblock %}

  

</body>
</html>