{% extends 'base.html' %} 

{% block header %}
<h1 class="title">{% block title %}Homepage{% endblock %}</h1>
<style>
  
</style>
{% endblock %} 

{% block content %}

<!-- 
    - #HERO
-->

<section class="section hero" aria-label="hero" data-section>
    <div class="container">

        <div class="hero-content">

            <h1 class="h1 hero-title">Stock Transaction In Bigbucks</h1>

            <p class="hero-text">
                Bigbucks is your faithful wealth manager.
            </p>

            <a href="{{ url_for('stock.market') }}" class="btn btn-primary">Get started now</a>

        </div>

        <figure class="hero-banner">
            <img src="{{ url_for('static', filename='images/hero-banner.png') }}" width="570" height="448" alt="hero banner" class="w-100">
        </figure>

    </div>
  </section>


  <!-- 
      - #INSTRUCTION
    -->

    <section class="section instruction" aria-label="instruction" data-section>
      <div class="container">

        <h2 class="h2 section-title">Our Offering</h2>

        <p class="section-text">
          Stacks is a production-ready library of stackable content blocks built in React Native.
        </p>

        <ul class="instruction-list">

          <li>
            <div class="instruction-card">

              <figure class="card-banner">
                <a href="{{ url_for('stock.market') }}">
                <img src="{{ url_for('static', filename='images/instruction-1.png') }}" width="96" height="96" loading="lazy" alt="Step 1"
                 class="img">
                </a>
              </figure>

              <p class="card-subtitle">Offering 1</p>

              <h3 class="h3 card-title">Stock Searching</h3>

              <p class="card-text">
                Bigbucks provides with real-time data for stocks.
              </p>

            </div>
          </li>

          <li>
            <div class="instruction-card">

              <figure class="card-banner">
                {% if g.user %}
                <a href="{{ url_for('analysis.analysis_index', id=g.user['id']) }}">
                {% else %}
                <a href="{{ url_for('auth.login') }}"a>
                {% endif %}
                <img src="{{ url_for('static', filename='images/instruction-2.png') }}" width="96" height="96" loading="lazy" alt="Step 2"
                  class="img">
                </a>
              </figure>

              <p class="card-subtitle">Offering 2</p>

              <h3 class="h3 card-title">Stock Analysis</h3>

              <p class="card-text">
                Bigbucks provides with different analytical diagrams and tools for stock analysis.
              </p>

            </div>
          </li>

          <li>
            <div class="instruction-card">

              <figure class="card-banner">
                {% if g.user %}
                <a href="{{ url_for('stock.search', id=g.user['id']) }}">
                {% else %}
                <a href="{{ url_for('auth.login') }}"a>
                {% endif %}
                <img src="{{ url_for('static', filename='images/instruction-3.png') }}" width="96" height="96" loading="lazy" alt="Step 3"
                  class="img">
                </a>
              </figure>

              <p class="card-subtitle">Offering 3</p>

              <h3 class="h3 card-title">Stock Transaction</h3>

              <p class="card-text">
                Bigbucks provides with a safe and effective environment for stock transaction.
              </p>

            </div>
          </li>

          <li>
            <div class="instruction-card">

              <figure class="card-banner">
                {% if g.user %}
                <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}">
                {% else %}
                <a href="{{ url_for('auth.login') }}"a>
                {% endif %}
                <img src="{{ url_for('static', filename='images/instruction-4.png') }}" width="96" height="96" loading="lazy" alt="Step 4"
                  class="img">
                </a>
              </figure>

              <p class="card-subtitle">Offering 4</p>

              <h3 class="h3 card-title">User report</h3>

              <p class="card-text">
                Bigbucks provides you with your own portfolio report.
              </p>

            </div>
          </li>

        </ul>

      </div>
    </section>


    
  <!-- 
      - #MARKET
  -->

  <section class="section market" aria-label="market update" data-section>
      <div class="container">

      <div class="title-wrapper">
          <h2 class="h2 section-title">Market Update</h2>

          <a href="#" class="btn-link">See All Coins</a>
      </div>

      <div class="market-tab">

          <ul class="tab-nav">

          <li>
              <button class="tab-btn active">View All</button>
          </li>

          <li>
              <button class="tab-btn">Metaverse</button>
          </li>

          <li>
              <button class="tab-btn">Entertainment</button>
          </li>

          <li>
              <button class="tab-btn">Energy</button>
          </li>

          <li>
              <button class="tab-btn">NFT</button>
          </li>

          <li>
              <button class="tab-btn">Gaming</button>
          </li>

          <li>
              <button class="tab-btn">Music</button>
          </li>

          </ul>

          <table class="market-table">

          <thead class="table-head">

              <tr class="table-row table-title">

              <th class="table-heading"></th>

              <th class="table-heading" scope="col">#</th>

              <th class="table-heading" scope="col">Name</th>

              <th class="table-heading" scope="col">Last Price</th>

              <th class="table-heading" scope="col">24h %</th>

              <th class="table-heading" scope="col">Market Cap</th>

              <th class="table-heading" scope="col">Last 7 Days</th>

              <th class="table-heading"></th>

              </tr>

          </thead>

          <tbody class="table-body">

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">1</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-1.svg') }}" width="20" height="20" alt="Bitcoin logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Bitcoin <span class="span">BTC</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update green">+1.45%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-1.svg') }}" width="100" height="40" alt="profit chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">2</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-2.svg') }}" width="20" height="20" alt="Ethereum logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Ethereum <span class="span">ETH</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update red">-5.12%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-2.svg') }}" width="100" height="40" alt="loss chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">3</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-3.svg') }}" width="20" height="20" alt="Tether logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Tether <span class="span">USDT/USD</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update green">+1.45%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-1.svg') }}" width="100" height="40" alt="profit chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">4</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-4.svg') }}" width="20" height="20" alt="BNB logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">BNB <span class="span">BNB/USD</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update red">-3.75%%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-2.svg') }}" width="100" height="40" alt="loss chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">5</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-5.svg') }}" width="20" height="20" alt="Solana logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Solana <span class="span">SOL</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update green">+1.45%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-1.svg') }}" width="100" height="40" alt="profit chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">6</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-6.svg') }}" width="20" height="20" alt="XRP logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">XRP <span class="span">XRP</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update red">-2.22%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-2.svg') }}" width="100" height="40" alt="loss chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">7</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-7.svg') }}" width="20" height="20" alt="Cardano logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Cardano <span class="span">ADA</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update green">+0.8%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-1.svg') }}" width="100" height="40" alt="profit chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

              <tr class="table-row">

              <td class="table-data">
                  <button class="add-to-fav" aria-label="Add to favourite" data-add-to-fav>
                  <ion-icon name="star-outline" aria-hidden="true" class="icon-outline"></ion-icon>
                  <ion-icon name="star" aria-hidden="true" class="icon-fill"></ion-icon>
                  </button>
              </td>

              <th class="table-data rank" scope="row">8</th>

              <td class="table-data">
                  <div class="wrapper">
                  <img src="{{ url_for('static', filename='images/coin-8.svg') }}" width="20" height="20" alt="Avalanche logo" class="img">

                  <h3>
                      <a href="#" class="coin-name">Avalanche <span class="span">AVAX</span></a>
                  </h3>
                  </div>
              </td>

              <td class="table-data last-price">$56,623.54</td>

              <td class="table-data last-update green">+1.41%</td>

              <td class="table-data market-cap">$880,423,640,582</td>

              <td class="table-data">
                  <img src="{{ url_for('static', filename='images/chart-1.svg') }}" width="100" height="40" alt="profit chart" class="chart">
              </td>

              <td class="table-data">
                  <button class="btn btn-outline">Trade</button>
              </td>

              </tr>

          </tbody>

          </table>

      </div>

    </div>
  </section>

  </article>
  </main>

  

  <!-- 
    - #FOOTER
  -->

  <footer class="footer">

    <div class="footer-top" data-section>
      <div class="container">

        <div class="footer-brand">

          <a href="#" class="logo">
            <img src="{{ url_for('static', filename='images/logo.svg') }}" width="50" height="50" alt="Cryptex logo">
            Bigbucks
          </a>

          <h2 class="footer-title">Let's talk!</h2>

          <a href="tel:+666666666666" class="footer-contact-link">+66 666 666 6666</a>

          <a href="mailto:bigbucks2023@163.com" class="footer-contact-link">bigbucks2023@163.com</a>

          <address class="footer-contact-link">
            Fitzpatrick Center for Interdisciplinary Engineering, Medicine and Applied Sciences, 101 Science Dr, Durham, NC 27705
          </address>

        </div>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Products</p>
          </li>

          <li>
            <a href="#" class="footer-link">Spot</a>
          </li>

          <li>
            <a href="#" class="footer-link">Inverse Perpetual</a>
          </li>

          <li>
            <a href="#" class="footer-link">USDT Perpetual</a>
          </li>

          <li>
            <a href="#" class="footer-link">Exchange</a>
          </li>

          <li>
            <a href="#" class="footer-link">Launchpad</a>
          </li>

          <li>
            <a href="#" class="footer-link">Binance Pay</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Services</p>
          </li>

          <li>
            <a href="#" class="footer-link">Buy Crypto</a>
          </li>

          <li>
            <a href="#" class="footer-link">Markets</a>
          </li>

          <li>
            <a href="#" class="footer-link">Tranding Fee</a>
          </li>

          <li>
            <a href="#" class="footer-link">Affiliate Program</a>
          </li>

          <li>
            <a href="#" class="footer-link">Referral Program</a>
          </li>

          <li>
            <a href="#" class="footer-link">API</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">Support</p>
          </li>

          <li>
            <a href="#" class="footer-link">Bybit Learn</a>
          </li>

          <li>
            <a href="#" class="footer-link">Help Center</a>
          </li>

          <li>
            <a href="#" class="footer-link">User Feedback</a>
          </li>

          <li>
            <a href="#" class="footer-link">Submit a request</a>
          </li>

          <li>
            <a href="#" class="footer-link">API Documentation</a>
          </li>

          <li>
            <a href="#" class="footer-link">Trading Rules</a>
          </li>

        </ul>

        <ul class="footer-list">

          <li>
            <p class="footer-list-title">About Us</p>
          </li>

          <li>
            <a href="#" class="footer-link">About Bybit</a>
          </li>

          <li>
            <a href="#" class="footer-link">Authenticity Check</a>
          </li>

          <li>
            <a href="#" class="footer-link">Careers</a>
          </li>

          <li>
            <a href="#" class="footer-link">Business Contacts</a>
          </li>

          <li>
            <a href="#" class="footer-link">Blog</a>
          </li>

        </ul>

      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">

        <p class="copyright">
          &copy; 2022 Cryptex All Rights Reserved by <a href="#" class="copyright-link">Team G</a>
        </p>

        <ul class="social-list">

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-link">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>
    </div>
</footer>

{% block js %}
<!-- 
    - custom js link
  -->
  <script src=" {{ url_for('static', filename='js/script.js') }}" defer></script>
  
<!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

{% endblock %}

{% endblock %}