{% extends 'base.html' %} 
{% block header %}
{% block subheader %}{% endblock %}
<style>
	.content > header {
		margin-left: 256px;
	}

	/* body {
		margin: 0;
		padding: 0;
		font-family: Arial, sans-serif;
	} */
	
	/* #content {
		margin-left: 200px;
		padding: 20px;
	} */
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style_sidebar.css') }}">
{% endblock %} 

{% block content %}

	<div class="sidebar">
		<div class="logo_details">
		  <div class="logo_name">STOCK</div>
		  <i class="bx bx-menu" id="btn"><img src="/static/iconsvg/menu-burger.svg" alt="Menu" id="menu_icon"></i>
		</div>
		<ul class="nav-list">
		 
		  <li>
			<a href="{{ url_for('stock.search') }}">
				<i class="fi fi-br-search" id="btn"><img src="/static/iconsvg/search.svg" alt="Stock Search" class="sidebar_icon" id="search_icon"></i>
				<span class="link_name">Stock Search</span>
			</a>
			
			<span class="tooltip">Stock Search</span>
		  </li>
		  <li>
			<a href="{{ url_for('stock.market') }}">
				<i class="fi fi-br-info" id="btn"><img src="/static/iconsvg/info.svg" alt="Market" class="sidebar_icon" id="market_icon"></i>
				<span class="link_name">Market</span>
			</a>
			<span class="tooltip">Market</span>
		  </li>
		  <li>
			<a href="{{ url_for('stock.buy', id=g.user['id']) }}">
				<i class="fi fi-br-buy" id="btn"><img src="/static/iconsvg/shopping-cart-add.svg" alt="Buy Stock" class="sidebar_icon" id="buy_icon"></i>
			  	<span class="link_name">Buy Stock</span>
			</a>
			<span class="tooltip">Buy Stock</span>
		  </li>
		  <li>
			<a href="{{ url_for('analysis.analysis_index', id=g.user['id']) }}">
				<i class="fi fi-br-chart" id="btn"><img src="/static/iconsvg/chart-histogram.svg" alt="Stock Plot" class="sidebar_icon" id="plot_icon"></i>
				<span class="link_name">Stock Plot</span>
			</a>
			<span class="tooltip">Stock Plot</span>
		  </li>
		  <li>
			<a href="{{ url_for('backtest.backtest', id=g.user['id']) }}">
				<i class="fi fi-br-calendar" id="btn"><img src="/static/iconsvg/calendar.svg" alt="Stock Simulator" class="sidebar_icon" id="calendar_icon"></i>
				<span class="link_name">Trade Simulator</span>
			</a>
			<span class="tooltip">Trade Simulator</span>
		  </li>
		  <!-- {% if g.user['usertype'] =='P' %}
		  <li>
			<a href="{{ url_for('analysis.analysis_index', id=g.user['id']) }}">
			  <span class="link_name">Premium Plot</span>
			</a>
			<span class="tooltip">Premium Plot</span>
		  </li>
		  {% endif %} -->



		  <!-- <li>
			<a href="{{ url_for('blog.index', id=g.user['id']) }}">
			  <span class="link_name">Stock index</span>
			</a>
			<span class="tooltip">Stock index</span>
		  </li> -->
		  
		</ul>
		<script src="{{ url_for('static', filename='js/script_sidebar.js') }}"></script>
	</div>



	<div class="subcontent_container">		
		{% block subcontent %}{% endblock %}
	</div>
	
{% endblock %}