
{% extends 'acctbase.html' %}

{% block subheader %}
<style type="text/css" media="screen">
  form article label {
    display: block;
    margin: 5px;
  }

  form .submit {
    margin: 15px 0;
  }
</style>
{% endblock %}

{% block subcontent %}

<h1>{% block title %}Successfully Charged!{% endblock %}</h1>
<h2>Thanks, you've made a Payment of ${{amount}}!</h2>
<div class="bottom_link">
  <a href="{{ url_for('stock.search', id=g.user['id']) }}">Start Trading</a>
  <a href="{{ url_for('myacct.portfolio', id=g.user['id']) }}">Return to my page</a>
</div>

{% endblock %}