{% extends 'acctbase.html' %}

{% block subheader %}
<style>

  #charge_button {
      font-size: 16px;
      font-weight: bold;
      background-color: #25478B;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 3%;
      margin: 0 40px;
      border: none;
  }
</style>
{% endblock %}

{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %}Charge For Your Account{% endblock %}</h1></div>

<div class="charge">

  <div class="search_container" style="padding: 40px 15%;">
      <form method="post" style="margin: 0 auto 30px 10%;">
        <label for="amount">Amount</label>
        <input name="amount" id="amount" required />
        <input id="charge_button" type="submit" value="Make a Payment" />
      </form>

      <div style="padding-left: 60%;">
        <form method="post">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="{{ key }}"
          data-description="A Flask Charge"
          data-amount="500"
          data-locale="auto"></script>
        </form>
      </div>
  </div>
</div>

{% endblock %}