{% extends 'base.html' %} 

{% block header %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style_login.css') }}" /> -->
<style>
  body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.35), rgba(0, 0, 0, 0.5)), 
    url("{{ url_for('static', filename='images/banner.jpg') }}");
    background-size: auto 100%;
  }
  .content {
    padding: 0 1rem 1rem;
    align-items: center;
    text-align: center;
    width: 500px;
    height: 750px;
    background-color: #ffffff;
    margin: 80px auto auto;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); border-radius: 10px;
    font-family: Candara, Helvetica, sans-serif;
  }
	.content > header h1 { align-items: center; margin: 1rem auto; flex: none;} 
  .info_body {
    border-radius: 0;
    padding: 15px 9%;
    border-top: solid 3px #25478B;
  }
  .info_label label {
    margin-right: 0;
  }
  .info_submit input{
    padding: 10px 2%;
    margin: 45px auto 20px;
    width: 35%;
  }
</style>
{% endblock %} 

{% block content %}

<div class="register_title"><h2>{% block title %}Log In{% endblock %}</h2></div>
<div class="register">
  <form method="post">
    <div class="info_body">
      <div class="info_item">
        <div class="info_label">
        <label for="username">Username</label>
      </div>
      <div class="info_input">
        <input name="username" id="username" required />
      </div>
    </div>

    <div class="info_item">
      <div class="info_label">
        <label for="password">Password</label>
      </div>
      <div class="info_input">
        <input type="password" name="password" id="password" required />
      </div>
    </div>


    <div class="info_submit">
        <input class="button_login" type="submit" value="Log In" /> 
    </div>
    <div class="register_switch">
      <p style="display: inline-block; margin-right: 5px;">New here? </p>
      <a href="{{ url_for('auth.register')}}" style="display: inline-block;"> Register </a>
    </div>
    </div>
  </form>
</div>

{% endblock %}