{% extends 'stockbase.html' %} 

{% block subheader %}

{% endblock %}

{% block subcontent %}

<div class="subcontent_title"><h1>{% block title %} Buy Stock {% endblock %}</h1></div>
<form method="post">

<div class="error_container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-message">
        {% for message in messages %}
          <p id="error_message">{{ message }}</p>
        {% endfor %}
      </div>

    {% endif %}
  {% endwith %}
</div>

  <div class="info_body">
    <div class="info_item">
      <div class="info_label">
        <label for="ticker">ticker</label>
      </div>
      <div class="info_input">
        <input name="ticker" id="ticker" required />
      </div>
      
    </div>
    <div class="info_item">
      <div class="info_label">
        <label for="amount">amount</label>
      </div>
      <div class="info_input">
        <input name="amount" id="amount" required />
      </div>
      
    </div>
    <div class="info_submit">
      <input type="submit" value="Buy" />
    </div>
    
  </div>
  
</form>
{% endblock %}
