{% extends 'stockbase.html' %} 

{% block subheader %}
<style>
  .detail_para {
    background-color: white;
    padding: 3% 3%;
    border-bottom: solid 2px #25478B;;
  }
  .detail_para p {
    margin-bottom: 1%;
    /* text-indent: 20px; */
  }

  #detail_table {
    margin: 0 5% 20px 5%;
    width: 90%;

  }
  .svg_container {
    max-width: 100%;
  }

  /* .detail_item_container {
    margin-left: 25%;
    width: 50%;
  }
  .detail_item_left {
    text-align: left;
  }
  .detail_item_right {
    text-align: right;
  } */
</style>
{% endblock %} 

{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %}{{stock['stock_ticker']}} Detail {% endblock %}</h1></div>

<article class="detail_para">
  <table id="detail_table">
    <thead>
      <tr>
        <th>Stock Ticker</th>
        <th>Company Name</th>
        <th>Current Stock Price</th>
        <th>Company Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{stock['stock_ticker']}}</td>
        <td>{{stock['company_name']}}</td>
        <td>{{ '{:.2f}'.format(stock['current_price']) }}</td>
        <td>{{stock['company_address']}}</td>
    
      </tr>

    </tbody>
  </table>
  <!-- <div class="detail_item_container">
    <p class="detail_item_left"> <strong>Stock Ticker</strong> :</p><p class="detail_item_right"> {{stock['stock_ticker']}} </p>
    <p class="detail_item_left"> <strong>Company Name</strong> :</p><p class="detail_item_right"> {{stock['company_name']}}</p>
    <p class="detail_item_left"><strong>Current Stock Price</strong> :</p><p class="detail_item_right"> {{stock['current_price']}}</p>
    <p class="detail_item_left">
      <strong>Company Address</strong> :</p><p class="detail_item_right"> {{stock['company_address']}}</p>
  </div> -->
  <p class="body"><strong>Company Introduction</strong> :</p>

  <p class="body" style="text-indent: 20px;">{{stock['company_brief']}}</p>

</article>

<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- <link
  data-require="bootstrap@5.2.3"
  data-semver="5.2.3"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
/> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="https://github.com/makeusabrew/bootbox/releases/download/v6.0.0/bootbox.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

<script>
  function plot() {
    var info = JSON.parse('{{info | tojson | safe}}');
    console.log(info);
    var data1 = 
      {
        type: "scatter",
        mode: 'lines',
        x: info["date"],
        y: info["prices"],
        name: "stock_value",
        line: {color: '#fe9400'}
      }

    var data2 = 
      {
        type: "scatter",
        mode: 'lines',
        x: info["date"],
        y: info["SPY"],
        name: "S&P 500",
        line: {color: '#17BECF'}
      }

    
    var data = [data1, data2];

    console.log(info);
    console.log(info["date"]);
    console.log(info["prices"]);
    console.log(typeof(info["prices"]));

    Plotly.newPlot("myDiv", data, {
      title: " Stock Value VS. S&P 500 Index",
    });
  }

  window.onload = function () {
    plot();
  };
</script>

<div id="myDiv"></div>

{% endblock %}
