{% extends 'stockbase.html' %} 
{% block subheader %}

{% endblock %} 

{% block subcontent %} 
<div class="subcontent_title"><h1>{% block title %}Exchange Infomation{% endblock %}</h1></div>

<form method="post">

  <div class="error_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message">
          {% for message in messages %}
            <p id="error_message">{{ message }}</p>
          {% endfor %}
        </div>
  
      {% endif %}
    {% endwith %}
  </div>


<div class="table_container">
  <table>
    <thead>
      <tr>
        <th>Exchange Name</th>
        <th>Symbol</th>
        <th>Market Time</th>
        <th>Time Zone</th>
        <th>Regular Market Close Price</th>
        <th>Index Stock</th>
      </tr>
    </thead>
    <tbody>
        {% for info in market_info %}
      <tr>
        <td>{{info['fullExchangeName']}}</td>
        <td>{{info['symbol']}}</td>
        <td>{{info['regularMarketTime']['fmt']}}</td>
        <td>{{info['exchangeTimezoneName']}}</td>
        <td>{{info['regularMarketPrice']['fmt']}}</td>
        <td>{{info['shortName']}}</td>
    
      </tr>
      {% if not loop.last %}
      {% endif %} {% endfor %}
    </tbody>
  </table>
</div>
  
</form>
{% endblock %}



