{% extends 'stockbase.html' %} 

{% block subheader %}

    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-core.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-stock.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-data-adapter.min.js"></script>

    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-ui.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.0/js/anychart-exports.min.js"></script>

    <link href="https://cdn.anychart.com/releases/8.11.0/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
    <link href="https://cdn.anychart.com/releases/8.11.0/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

    <style type="text/css">      
      #search-container { 
        width: 100%; height: 100%; margin: 0; padding: 0; 
      } 

      #search_button {
          font-size: 16px;
          font-weight: bold;
          background-color: #25478B;
          color: #ffffff;
          border-radius: 5px;
          padding: 10px 3%;
          margin: 0 40px;
          border: none;
          width: 20%;
      }

      /* Set font color to black */
      /* .anychart-font {
        fill: black;
      } */


    </style>

    
{% endblock %}

{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %}Stock Search{% endblock %}</h1></div>

<form method="post">
  <div class="search_container">
    <label for="ticker">ticker</label>
    <input name="ticker" id="ticker" required />
    <input id="search_button" type="submit" value="Search" />
  </div>
  
<div class="error_container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div id="flash-message">
        {% for message in messages %}
          <p id="error_message">{{ message }}</p>
        {% endfor %}
      </div>

    {% endif %}
  {% endwith %}
</div>

</form>



<div class="plot_container">
  <div id="search-container"></div>
<script>
  anychart.onDocumentReady(function () {
    // Assume `jsonData` is the JSON data passed from Flask
    var jsonString = '{{ json_data | tojson | safe}}';
    var jsonData = JSON.parse(jsonString);

    var stockTickerString = '{{ stock_ticker | tojson | safe}}';
    var stock_ticker = JSON.parse(stockTickerString);

    console.log(jsonData);

    // create data table on loaded data
    var dataTable = anychart.data.table(0);
    dataTable.addData(jsonData);

    console.log(dataTable);

    // map loaded data for the candlestick series
    // var mapping = dataTable.mapAs({
    //     open: 'open',
    //     high: 'high',
    //     low: 'low',
    //     close: 'close'
    // });

    // create stock chart
    var chart = anychart.stock();

    // create first plot on the chart
    var plot = chart.plot(0);

    chart.background('#e4e9f7');
    chart.title().fontColor('#000000');

    // plot.palette(anychart.palettes.turquoise);
    
    // set grid settings
    plot.yGrid(true).xGrid(true).yMinorGrid(true).xMinorGrid(true);

    var series = plot.candlestick(dataTable)
        .name(stock_ticker);

    series.legendItem().iconType('rising-falling');

    // create scroller series with mapped data
    chart.scroller().candlestick(dataTable);
    // set chart selected date/time range
    chart.selectRange('2020-11-27', '2023-04-06');

    // create range picker
    var rangePicker = anychart.ui.rangePicker();

    // init range picker
    rangePicker.render(chart);

    // create range selector
    var rangeSelector = anychart.ui.rangeSelector();

    // init range selector
    rangeSelector.render(chart);

    // sets the title of the chart
    chart.title(stock_ticker + ' Stock Chart');

    // set container id for the chart
    chart.container('search-container');

    // initiate chart drawing
    chart.draw();
});
    </script>
</div>

{% endblock %}

<!-- // set bachground color to transparent
    var layout = {
      paper_bgcolor: 'rgba(0,0,0,0)'
    }; -->
