html { height: 100%; width: 100%; }
/* {font-family: Candara, Arial, Helvetica, sans-serif;} */
/* padding: 1rem;  */
/* body { margin: 0 auto; background: #f0f2f5; height: 86%;} */
/* max-width: 960px;  */
/* h1 { color: #000000; margin: 1rem 0; } */
/* h2 { text-align: center; }
a { color: #000000; text-decoration: none; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: #25478B; align-items: center; padding: 1rem 3rem; z-index: 1000;}
nav ul { list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem 0.8rem; }
footer {background-color: #25478B; color: #ffffff; text-align: center; clear: both; height: 25px; bottom: 0; }
.content { padding: 0 1rem 1rem; min-height: 100% }
.content > header { border-bottom: 3px solid #25478B; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; } */
/* need to combine color para in .navbar after making body part */
/* .navbar { position: sticky; top:0; width: auto; margin: auto;} */
.navbar a, .navbar span { color: #ffffff; font-family: Open Sans, Arial; }
/* .navbar_content { width: auto; border-top: 0; align-items: center; }
.navbar_content h1 a { text-decoration: none; padding: 0.25rem 0.5rem; }
.logo { float: left; font-weight: 1000; }
.logo a { font-size: 1.5em; flex: auto; margin: 0; width: 148px; color: #ffffff;
    font-family: Candara, Open Sans, Arial; align-items: center; padding: 0.2rem 0.8rem; display: block;}
.nav_item_container { margin: auto; display: flex; justify-content: flex-end; }
.nav_item_container li { display: inline; }
.nav_item_container a { width: auto; display: inline-block; } */
/* margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px;
    margin-inline-end: 0px; padding-inline-start: 40px;} */
/* .post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; } */
/* .content:last-child { margin-bottom: 0; } */
/* .content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; } */
/*  */

/* .sidebar {

    position: fixed;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    transition: width 0.2s, left 0.2s;
    z-index: 600;
    width: 256px;
    height: 100%;
    top: var(--header-height, 48px);
    background-color: #f0f2f5;
    border-right: 3px solid #25478B;
    transform: translate3d(0, 0, 0);
}
.sidebar_item {
    box-sizing: border-box;
} */

.post_block {
    margin: 1rem;
    align-items: center;
    background-color: #ffffff;
    text-align: center; 
    color: #000000;
}

.subcontent_container {
    padding: 150px 150px 0 150px;
}

/* .subcontent { */

    /* background-color: #ffffff; */
/* } */

.subcontent_title {
    width: 100%;
    height: 45px;
    text-align: center;
    font-size: 20px;
}

.table_title {
    width: 100%;
    height: 35px;
    text-align: center;
    font-size: 23px;
    margin: 20px 0;
}

/* .subcontent_title h2 {
    font-size: 31px;
} */

.register_title {
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 40px;
}

/* update + subscribe */
.info_body {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 30px 9%;
    margin-top: 30px;
}

.info_item {
    padding: 30px 0 10px;
    font-size: 18px;
    color: #373737;
    border-bottom: solid 1px #808080;
}

.info_label {
    width: 35%;
    display: inline-block;
    text-align: right;
    height: 50px;
}
.info_label label {
    font-weight: bold;
    margin-right: 40px;
    height: 100%;
}

.info_input {
    display: inline-block;
    text-align: left;
    width: 40%;
    margin-left: 20%;
}

.info_input input {
    border: none;
    padding-left: 10%;
    font-size: 18px;
    color: #808080;
    height: 100%;
    width: 100%;
    border-left: solid 1px #808080;
}

.info_input input:focus {
    border: none;
    outline: none;
}

/* .info_submit {
    position: relative;
} */

.info_submit input{
    font-size: 16px;
    font-weight: bold;
    background-color: #25478B;
    color: #ffffff;
    border-radius: 5px;
    width: 20%;
    padding: 10px 3%;
    margin: 40px 0 30px 70%;
    border: none;
}

.search_container {
    padding: 40px 23%;
}
.search_container label {
    font-weight: bold;
    margin-right: 7%;
    height: 100%;
}

.search_container input, .backtest_container input {
    font-size: 18px;
    height: 100%;
}

.backtest_container {
    padding: 20px 0;
}
.backtest_container label {
    font-weight: bold;
    margin: 0 3%;
    height: 100%;
}

/* Add hover and focus styles */
.info_submit input:hover, .info_submit input:focus {
    background-color: #005ea3;
    cursor: pointer;
    outline: none;
}

/* Add active style */
.info_submit input:active {
    background-color: #004b8c;
}

.plot_button {
    margin: 10px 26% 35px;
}

.plot_button span {
    max-width: 70%;
}


.plot_button select {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: solid 1px #808080;
}

.plot_button select:focus {
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    border: solid 1px #808080;
}


.register {
    margin: 1rem;
    align-items: center;
    background-color: #ffffff;
    text-align: center; 
    color: #000000;
    
}

.register_switch {
    color: lightslategray;
}

.register_switch a {
    color: #25478B;
    text-decoration: underline;
}
/* 
.register_body { margin: 1rem auto; align-items: center; }
.register_item { margin: 1rem auto; font-size: 18px; text-align: center; font-family: inherit;} */
.button_login {
    /* width: 106px;
    height: 40px; */
    color: #ffffff;
    background-color: #25478B;
    border: 0;
    border-radius: 2px;
    font-family: Candara, Arial, Helvetica, sans-serif;
    font-size: 1em;
}

.plot_container {
    height: 500px;
}


.title {
    text-align: center;
    /* padding: 1rem 0; */
}

.banner_container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    margin: 2vh auto;
}
.banner_container img {
    /* align-items: center;  */
    height: 60vh;
    margin: auto 10vw;
}

.display_container {
    align-items: center;
    display: inline-block;
    
    width: 97vw;
}
.display_block {
    display: block;
    float: left;
    margin: 30px 2.5vw;
    padding: 3rem 1rem;
    text-align: center;
    width: 25vw;
    background-color: #ffffff;
    box-shadow:0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1); border-radius: 10px;
    font-family: Candara, Helvetica, sans-serif;
    
}
/* .all_function_block { */
    /* display: inline-flex; */
    /* justify-content: center; */
/* } */

.display_container h2 {
    padding: 1rem 0;
    border-bottom: 3px solid #25478B;
    margin: 0;
    flex: auto;
    display: block;
    text-align: center;
}

.diagram_block {
    /* cover display_block width */
    width: 90vw; 
    /* display: flex; */
    justify-content: center;

}

.copyright, .footer-contact-link {
    color: aliceblue;
}

.table_container {
    width: 100%;
    padding-bottom: 100px;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ccc;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

.bottom_link {
    padding-top: 30px;
}

.bottom_link a {
    text-decoration: underline;
}

.bottom_link a:hover {
    color: #25478B;
}


/* .flash-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    background-color: #f44336;
    color: white;
    font-size: 20px;
    text-align: center;
    animation: flash 3s linear;
}

@keyframes flash {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
} */

#flash-message {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    /* background-color: #f44336;
    color: white; */
    background-color: #f0e4e4;
    color: red;
    border: solid 3px red;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  
