
{% extends 'stockbase.html' %} 

{% block subheader %}
<style>
  #detail_para {
    text-align: center;
    margin: 10px 0 15px 0;
  }

  #update_container {
    margin: 0 130px 20px;
  }

  #update_container label {
    font-size: 18px;
    margin-right: 5%;
    height: 100%;
  }

  #update_container input {
    font-size: 18px;
    height: 100%;
  }

  #renew_button {
    font-size: 16px;
    font-weight: bold;
    background-color: #25478B;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 2%;
    margin: 0 40px;
    border: none;
    width: 20%;
  }

  #update_button {
    font-size: 16px;
    font-weight: bold;
    background-color: #25478B;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px 2%;
    margin: 0 40px;
    border: none;
    width: 15%;
  }

  #portfolio_link {
		text-decoration: underline;
	}
	#portfolio_link:hover {
		color: #25478B;
	}
</style>
{% endblock %}

{% block subcontent %}

<div class="subcontent_title"><h1>{% block title %} Trade Simulator {% endblock %}</h1></div>
<div id="detail_para">
  <p>Account Balance :  {{ '{:.2f}'.format(account['balance']) }} </p>
  <p>Account Income : {{ '{:.2f}'.format(account['income']) }} </p>
</div>


<form method="post">
  <div class="error_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message">
          {% for message in messages %}
            <p id="error_message">{{ message }}</p>
          {% endfor %}
        </div>

      {% endif %}
    {% endwith %}
  </div>
</form>

<div style="text-align: center; margin-top: -5px;">
  <form id="view" method="post">
    <input type="hidden" name="form_id" value="new">
    <input id="renew_button" type="submit" value="Renew Simulator" />
  </form>
</div>

  <form id="buy" method="post">
    <div class="backtest_container">
      <input type="hidden" name="form_id" value="buy">
      <label for="ticker">Ticker</label>
      <input name="ticker" id="ticker"/>

      <label for="amount">Amount</label>
      <input name="amount" id="amount" />

      <label for="date">Date</label>
      <input type="date" name="date" id="date" required />
      <input type="submit" value="Buy" />
    </div>
  </form>

  
  <h2 class="table_title">My Portfolio</h2>

  <div id="update_container">
    <form id="view" method="post">
        <input type="hidden" name="form_id" value="view">
        <label for="date">Check the price of portfolio on specific date.</label>
        <input type="date" name="date" id="date" required />
        <input id="update_button" type="submit" value="View Price" />
      
    </form>
  </div>
  <div class="table_container" style="padding-bottom: 50px;">
		<table>
			<thead>
				<tr>
					<th>Stock Ticker</th>
					<th>Amount Hold</th>
					<th>Total Cost</th>
					<th>Current Price per unit</th>
					<th>Sell</th>
				</tr>
			</thead>
			<tbody>

				{% for stock in stocks %}
				<tr>
					<td>{{stock['stock_ticker']}}</td>
					<td>{{stock['amount_hold']}}</td>
					<td> {{ '{:.2f}'.format(stock['cost']) }}</td>
					<td>{{stock['current_value']}}</td>
					<td><a href="{{ url_for('backtest.sell', id=stock['user_id'], stock_ticker=stock['stock_ticker'], time=stock['purchased_time']) }}" id="portfolio_link">Sell</a></td>
					
				</tr>
				{% if not loop.last %}
				{% endif %} {% endfor %}

			</tbody>
		</table>
	</div>



<h2 class="table_title">Simulator Transaction Records</h2>
<form method="post">
  {% if transactions == None %}
  <p>--------No Transaction Yet-------</p>
  {% else %}
  <div class="table_container">

    <table>
      <thead>
        <tr>
          <th>Stock Ticker</th>
          <th>Type</th>
          <th>Amount</th>
          <th>Total Price</th>
          <th>Buying Price per unit</th>
          <th>Transaction Time</th>
        </tr>
      </thead>
      <tbody>
        {% for transaction in transactions %}
        <tr>
          <td>{{transaction['stock_ticker']}}</td>
          <td>{{transaction['trade_type']}}</td>
          <td>{{transaction['transaction_number']}}</td>
          <td>{{ '{:.2f}'.format(transaction['total_price']) }}</td>
          <td>{{ '{:.2f}'.format(transaction['price_per_share']) }}</td>
          <td>{{transaction['trade_time']}}</td>
      
        </tr>
        {% if not loop.last %}
        {% endif %} {% endfor %}
  
      </tbody>
    </table>
  </div>
  {% endif %}
  </form>



<div id="myDiv"></div>

<script>
    function plot() {
      var info = JSON.parse('{{info | tojson | safe}}');
      console.log(info);
      var data = [
        {
          x: info["dates"],
          y: info["prices"],
          type: "scatter",
        },
      ];
      var layout = {
        paper_bgcolor: 'rgba(0,0,0,0)'
      };
  
      console.log(info);
      console.log(info["dates"]);
      console.log(info["prices"]);
      console.log(typeof(info["prices"]));
  
      Plotly.newPlot("myDiv", data, {
        title: "Portfolio Value",
      },
      layout);
    }
  
    window.onload = function () {
      plot();
    };
  </script>





{% endblock %}