{% extends 'stockbase.html' %}
{% block subheader %}
<style>


</style>
{% endblock %} 

{% block subcontent %}
<!-- <div class="subcontent_title"><h1>{% block title %} Sell Stock {% endblock %}</h1></div> -->
<div class="subcontent_title"><h1> Sell Stock</h1></div>


<form method="post">
  <div class="error_container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div id="flash-message">
          {% for message in messages %}
            <p id="error_message">{{ message }}</p>
          {% endfor %}
        </div>

      {% endif %}
    {% endwith %}
  </div>
</form>

<form method="post">
  <!-- <label for="ticker">ticker</label>
  <input
    name="ticker"
    id="ticker"
    value="{{ stock_sticker }}"
    required
    readonly
  /> -->
  <div class="info_body">
    <div class="info_item">
      <div class="info_label">
        <label for="ticker">Ticker</label>
      </div>
      <div class="info_input">
        <label for="ticker" style="padding-left: 10%;">{{stock_ticker}}</label>
      </div>
    </div>
    <div class="info_item">
      <div class="info_label">
        <label for="amount">Amount</label>
      </div>
      <div class="info_input">
        <input name="amount" id="amount" required />
      </div>
    </div>

    <div class="info_item">
      <div class="info_label">
        <label for="date">Date</label>
      </div>
      <div class="info_input">
        <input type="date" name="date" id="date" required />
      </div>
    </div>

    <div class="info_submit">
      <input type="submit" value="Sell" />
    </div>
  </div>
  
</form>
{% endblock %}

