
{% extends 'stockbase.html' %}

{% block subheader %}
<style type="text/css" media="screen">
  form article label {
    display: block;
    margin: 5px;
  }

  form .submit {
    margin: 15px 0;
  }
</style>
{% endblock %}

{% block subcontent %}

<h1>{% block title %}Successful Sold!{% endblock %}</h1>

<div class="bottom_link">
  <a href="{{ url_for('backtest.backtest', id=g.user['id']) }}">Back to My Simulator</a>
</div>

{% endblock %}