{% extends 'stockbase.html' %} 

{% block subheader %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #detail_para {
            text-align: center;
            margin: 10px 0 30px 0;
        }
        #selected-link {
            color: #ffffff;
            background-color: #25478B;
            border: 0;
            border-radius: 2px;
            font-family: Candara, Arial, Helvetica, sans-serif;
            font-size: 1em;
            padding: 10px;
            margin: 0 10px;
        }
    </style>
{% endblock %}

{% block subcontent %}
    <div class="subcontent_title"><h1>{% block title %}Stock Plot {% endblock %}</h1></div>

    <div id="detail_para">
        <p>Sharpe Ratio:  {{ '{:.3f}'.format(sharpe_ratio) }}</p>
    </div>

    <div class="plot_button">
        <span style="display: inline-block;">
            <select name="Choose the plot" id="link-selector" onchange="getSelectedOption()">
            <option value="{{ url_for('analysis.analysis_index', id=g.user['id']) }}">Sharpe Ratio</option>
            <option value="{{ url_for('analysis.get_data', id=g.user['id']) }}">Efficient Frontier</option>
            <option value="{{ url_for('analysis.account_price_plot', id=g.user['id']) }}">Price Plot</option>
            <option value="{{ url_for('analysis.account_simple_returns', id=g.user['id']) }}">Daily Simple Return Plot</option>
            <option value="{{ url_for('analysis.account_today_vs_yesterday_simple_returns', id=g.user['id']) }}">Today's vs. Yesterday's Simple Return Plot</option>
            <option value="{{ url_for('analysis.account_simple_return_histogram', id=g.user['id']) }}">Simple Return Histogram </option>
            <option value="{{ url_for('analysis.account_stock_vs_index', id=g.user['id']) }}">Stock vs. Index Price Chart</option>
            <option value="{{ url_for('analysis.account_stock_return_vs_index_return', id=g.user['id']) }}">Stock vs. Index Return Time Series Chart</option>
            <option value="{{ url_for('analysis.scatter_account_stock_vs_index', id=g.user['id']) }}">Scatter Plot of Stock vs. Index Return</option>
            <option value="{{ url_for('analysis.piechart', id=g.user['id']) }}">Pie charts</option>
        </select>
        </span>
        <!-- <button onclick="getSelectedOption()">Get Selected Option</button> -->

        <span style="display: inline-block;"><a id="selected-link" href="">Plot Figure</a></span>

    </div>
    
    <script>
        function getSelectedOption() {
            var selectBox = document.getElementById("link-selector");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            var link = document.getElementById("selected-link");
            link.href = selectedValue;
        }
    </script>



    <!-- <div class="plot_container">
        {% block plot %} {% endblock %}
    </div> -->
    <!-- <h2>Efficient Frontier</h2>
    <div>
        <a href="{{ url_for('analysis.get_data', id=g.user['id']) }}">Efficient Frontier</a>
    </div>
    <h2>Price Plot</h2>
    <div id="price-plot">{{ price_plot_div|safe }}
        <a href="{{ url_for('analysis.account_price_plot', id=g.user['id']) }}">Plot 1</a>
    </div>
    <h2>Daily Simple Return Plot</h2>
    <div id="daily-simple-return-plot">{{ daily_simple_return_plot_div|safe }}
        <a href="{{ url_for('analysis.account_simple_returns', id=g.user['id']) }}">Plot 2</a>
    </div>
    <h2>Today's vs. Yesterday's Simple Return Plot</h2>
    <div id="today-vs-yesterday-plot">{{ today_vs_yesterday_plot_div|safe }}
        <a href="{{ url_for('analysis.account_today_vs_yesterday_simple_returns', id=g.user['id']) }}">Plot 3</a>
    </div>
    <h2>Simple Return Histogram</h2>
    <div id="simple-return-histogram">{{ simple_return_histogram_div|safe }}
        <a href="{{ url_for('analysis.account_simple_return_histogram', id=g.user['id']) }}">Plot 4</a>
    </div>
    <h2>Stock vs. Index Price Chart</h2>
    <div id="stock-vs-index-price-chart">{{ stock_vs_index_price_chart_div|safe }}
        <a href="{{ url_for('analysis.account_stock_vs_index', id=g.user['id']) }}">Plot 5</a>
    </div>
    <h2>Stock vs. Index Return Time Series Chart</h2>
    <div id="stock-vs-index-return-chart">{{ stock_vs_index_return_chart_div|safe }}
        <a href="{{ url_for('analysis.account_stock_return_vs_index_return', id=g.user['id']) }}">Plot 6</a>
    </div>
    <h2>Scatter Plot of Stock vs. Index Return</h2>
    <div id="stock-vs-index-return-scatter-plot">{{ stock_vs_index_return_scatter_plot_div|safe }}
        <a href="{{ url_for('analysis.scatter_account_stock_vs_index', id=g.user['id']) }}">Plot 7</a>
    </div>
    <h2>Two pie charts</h2>
    <div id="pie-charts">{{ stock_proportion_pie_chart|safe }}
        <a href="{{ url_for('analysis.piechart', id=g.user['id']) }}">Plot 8</a>
    </div>
     -->
    
{% endblock %}