{% extends 'stockbase.html' %} 

{% block subheader %}
    <script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.4.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <style>
        #selected-link {
            color: #ffffff;
            background-color: #25478B;
            border: 0;
            border-radius: 2px;
            font-family: Candara, Arial, Helvetica, sans-serif;
            font-size: 1em;
            padding: 10px;
            margin: 0 10px;
        }
        .subplot {
          display: inline-block;
          text-align: center;
        }

        #plot_container {
          height: auto;
          overflow: hidden;
        }
    </style>
{% endblock %}

{% block subcontent %}
    <div class="subcontent_title"><h1>{% block title %}Stock Plot - Scatter Plot of Stock vs. Index Return {% endblock %}</h1></div>

    <div class="plot_button">
      <span style="display: inline-block;">
          <select name="Choose the plot" id="link-selector" onchange="getSelectedOption()">
          <option value="{{ url_for('analysis.analysis_index', id=g.user['id']) }}">Sharpe Ratio</option>
          <option value="{{ url_for('analysis.get_data', id=g.user['id']) }}">Efficient Frontier</option>
          <option value="{{ url_for('analysis.account_price_plot', id=g.user['id']) }}">Price Plot</option>
          <option value="{{ url_for('analysis.account_simple_returns', id=g.user['id']) }}">Daily Simple Return Plot</option>
          <option value="{{ url_for('analysis.account_today_vs_yesterday_simple_returns', id=g.user['id']) }}">Today's vs. Yesterday's Simple Return Plot</option>
          <option value="{{ url_for('analysis.account_simple_return_histogram', id=g.user['id']) }}">Simple Return Histogram </option>
          <option value="{{ url_for('analysis.account_stock_vs_index', id=g.user['id']) }}">Stock vs. Index Price Chart</option>
          <option value="{{ url_for('analysis.account_stock_return_vs_index_return', id=g.user['id']) }}">Stock vs. Index Return Time Series Chart</option>
          <option value="{{ url_for('analysis.scatter_account_stock_vs_index', id=g.user['id']) }}" selected>Scatter Plot of Stock vs. Index Return</option>
          <option value="{{ url_for('analysis.piechart', id=g.user['id']) }}">Pie charts</option>
      </select>
      </span>
      <!-- <button onclick="getSelectedOption()">Get Selected Option</button> -->

      <span style="display: inline-block;"><a id="selected-link" href="">Plot Figure</a></span>

  </div>
  
    <script>
        function getSelectedOption() {
            var selectBox = document.getElementById("link-selector");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            var link = document.getElementById("selected-link");
            link.href = selectedValue;
        }
    </script>
    <div id="plot_container">
      
      <script>
        function plot() {
          var info = JSON.parse('{{info | tojson | safe}}');
          console.log(info);
          var data1 = {
        type: "scatter",
        mode: "markers",
        x: info["SPY"],
        y: info["stock"],
        name: "portfolio_value",
        marker: { size: 7 }
      };

      var data2 = {
        type: "scatter",
        mode: "lines",
        x: info["x"],
        y: info["y"],
        name: "regression line",
        line: { color: "#000000" }
      };

      var data = [data1, data2];

      Plotly.newPlot("myDiv", data, {
          // title: "scatter_account_stock_vs_index",
          xaxis: {
            title: "S&P 500 ETF Return (%)"
          },
          yaxis: {
            title: "Account Portfolio Return (%)"
          },
        });
      }

        window.onload = function () {
          plot();
        };
      </script>

      <div id="myDiv"></div>

      <!-- <button onclick="plot()">Plot Data</button> -->

    </div>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- <link
  data-require="bootstrap@5.2.3"
  data-semver="5.2.3"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
/> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="https://github.com/makeusabrew/bootbox/releases/download/v6.0.0/bootbox.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>



{% endblock %}


