{% extends 'acctbase.html' %}

{% block title %}Subscribe{% endblock %}

{% block subcontent %}
  <h1>Subscribe to Our Product</h1>
  <p>Enter your username and password to start your subscription:</p>
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ user['username'] }}" readonly />
  
    <label for="password">Code</label>
    <input type="password" name="code" id="code" required />

    <input type="submit" value="Subscribe">
  </form>
{% endblock %}