{% extends "acctbase.html" %}

{% block subheader %}
<style>
	#detail_para {
		text-align: center;
		margin-bottom: 30px;
	}
	.table_container {
		padding: 0;
	}
	#portfolio_link {
		text-decoration: underline;
	}
	#portfolio_link:hover {
		color: #25478B;
	}
</style>
<script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<!-- <link
  data-require="bootstrap@5.2.3"
  data-semver="5.2.3"
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
/> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
<script src="https://github.com/makeusabrew/bootbox/releases/download/v6.0.0/bootbox.min.js"></script>
<script src="https://cdn.plot.ly/plotly-2.18.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>

{% endblock %}


{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %} My Portfolio {% endblock %}</h1></div>

<div id="detail_para">
	<p class="body">current_balance :  {{ '{:.2f}'.format(balance) }} </p>
	<p class="body">total_portfolio_value : {{ '{:.2f}'.format(total_value) }}</p>
</div>

<form method="post">
	<div class="table_container">
		<table>
			<thead>
				<tr>
					<th>Stock Ticker</th>
					<th>Amount Hold</th>
					<th>Current Price per unit</th>
					<th>Total Value</th>
					<th>Totol Cost</th>
					<th>Sell</th>
					<th>Stock Detail</th>
				</tr>
			</thead>
			<tbody>

				{% for stock in stocks %}
				<tr>
					<td>{{stock['stock_ticker']}}</td>
					<td>{{stock['transaction_number']}}</td>
					<td> {{ '{:.2f}'.format(stock['current_price']) }}</td>
					<td> {{ '{:.2f}'.format(stock['total_value']) }}</td>
					<td> {{ '{:.2f}'.format(stock['cost']) }}</td>
					<td><a href="{{ url_for('stock.sell', id=stock['user_id'], stock_ticker=stock['stock_ticker']) }}" id="portfolio_link">Sell</a></td>
					<td><a href="{{ url_for('stock.detail', id=stock['user_id'], stock_ticker=stock['stock_ticker']) }}" id="portfolio_link">Details</a></td>
					
				</tr>
				{% if not loop.last %}
				{% endif %} {% endfor %}

			</tbody>
		</table>
	</div>
	

	<div class="bottom_link">
		<a href="{{ url_for('email.send', id=g.user['id']) }}">Send Email</a>
		<a href="{{ url_for('stock.all_transactions', id=g.user['id']) }}">View Historical Transactions</a>
	</div>
  
</form>

{% endblock %}
