{% extends 'acctbase.html' %} 

{% block subheader %}

{% endblock %} 

{% block subcontent %}
<div class="subcontent_title">
  <h1>{% block title %}Edit My Information{% endblock %}</h1>
</div>

<form method="post">
  <div class="info_body">
    <div class="info_item">
      <div class="info_label">
        <label for="username">Username</label>
      </div>
      <div class="info_input">
        <input
          name="username"
          id="username"
          value="{{ user['username'] }}"
          readonly
        />
      </div>
    </div>
    <div class="info_item">
      <div class="info_label">
        <label for="email">Email</label>
      </div>
      <div class="info_input">
        <input
          name="email"
          id="email"
          value="{{ request.form['email'] or user['email'] }}"
        />
      </div>
    
    </div>
    <div class="info_item">
      <div class="info_label">
          <label for="phone">Phone</label>
      </div>
      <div class="info_input">
      <input
        name="phone"
        id="phone"
        value="{{ request.form['phone'] or user['phone'] }}"
      />
      </div>
    </div>
    
    <div class="info_submit">
      <input type="submit" value="Update" />
    </div>
    
  </div>
    <!-- <form method="post"></form> -->

</form>
{% endblock %}

