{% extends 'acctbase.html' %} 

{% block subheader %}
<style>
  /* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  } */

  #search_button {
      font-size: 16px;
      font-weight: bold;
      background-color: #25478B;
      color: #ffffff;
      border-radius: 5px;
      padding: 10px 3%;
      margin: 0 40px;
      border: none;
      width: 20%;
  }
</style>
{% endblock %} 

{% block subcontent %}
<div class="subcontent_title"><h1>{% block title %}All Transactions For Your Account{% endblock %}</h1></div>


<form method="post">
  <div class="search_container">
    <label for="date">Date</label>
    <input type="date" name="date" id="date" required />
    <input  id="search_button" type="submit" value="Search" />
  </div>
  
  
</form>


<form method="post">
{% if transactions == None %}
<p>--------No Transaction Yet-------</p>
{% else %}
<div class="table_container">
  <table>
    <thead>
      <tr>
        <th>User ID</th>
        <th>Stock Ticker</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Buying Price per unit</th>
        <th>Transaction Time</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <td>{{transaction['user_id']}}</td>
        <td>{{transaction['stock_ticker']}}</td>
        <td>{{transaction['trade_type']}}</td>
        <td>{{transaction['transaction_number']}}</td>
        <td> {{ '{:.2f}'.format(transaction['buy_price']) }}</td>
        <td>{{transaction['trade_time']}}</td>
    
      </tr>
      {% if not loop.last %}
      {% endif %} {% endfor %}

    </tbody>
  </table>
</div>
{% endif %}
</form>

{% endblock %}